*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}


#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em;
    height: 9vh;
    width: 100%;
    border: none;
}

p{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 95%;
    height: 9vh;
    margin: 10px;
}

div{
    display: flex;
    width: 9%;
    justify-content: center;
    align-items: center;
    height: 7vh;
    cursor: pointer;
    border: 1px solid #333;
    transition: 0.4s;
    font-weight: bold;
}


#container div :hover{
    background-color: antiquewhite;
}
#container div :hover{
    background-color: antiquewhite;
}
#container div.certo{
    background-color: green;
}
#container div.errado{
    background-color: red;
}








#mensagem{
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px burlywood;
}





@media (max-width: 1100px){
    div{
    display: flex;
    height: 9vh;
    width: 19%;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    
}
#mensagem{
    font-size: 1.1em;
    font-weight: bold;
    
}
p{
    
}
}